<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default" style="background:#A1887F;">
			<div class="panel-heading">About us</div>
				<div class="panel-body" id="panel_home_images" >
					<h3 class="text-center"><b>Help The HelpLess :)</b></h3>
					<h3><b>Introduction:</b></h3>
					<p><b><i>Insaniyat</i></b> is a platform for those people who are worry because of unfortunately they have lost thier some very dear to them.
					This site will provide them the facility to share the information of missing person here. If some other person having the informatio regarding that 
					missed person visit this site, may will contact to his family to help them to find him.</p>
					<p>If a person found someone who have lost his family or missing, specially in case of accident and in unconscious condition he can post on this forum
					 in order to let his/her family know about his/her condition and location that will help them to find him/her.</p>

					<h3><b>Mission:</b></h3>
					<p>Our Mission is to <b>Help The Helpless</b> people. To provide the facility to post here in order to share the inforamtion of the people who are missing. 
					This portal may will help people to find their love ones, depending upon if some other person who found the missed one have share his/her information on this portal</p>

					<h3><b>Note:</b></h3>
					<p>This Website <b>"Insaniyat"</b> will not provide the gurantee that posting on this site will really make sure that you will find the person about whom you are going to post. It's just a platform to share the information about missing persons.</p>
				</div>
		</div>
	</div>
	<div class="col-sm-4" id="searchDiv">
		<div class="panel panel-default" id="search" style="height:83%;position: fixed; overflow-y: scroll;">
			<div class="panel-heading">Search Persons</div>
				<div class="panel-body">
					<div class="form-group">
						<p>To optimize your search rresults,provide picture of </p>
						<p>person with a clear face to do search by picture.</p>
						<div class="row">
							<div class="col-md-1">
								<div id="searchImage-holder"></div>
							</div>		
						</div>
						<input id="searchImage-upload" type="file" class="btn-success"/> 
					</div>
					<div class="row">
						<div class="col-md-12">
							<label>Enter Date and Time You want to search from:</label>
							<input type="datetime-local" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label>Name:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="Name" placeholder="Name">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label>Father Name:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="FName" placeholder="Father Name(Optional)">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label>Age:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<select class="form-control" id="Clothes">
								<option value="0" selected="0">----</option>
								<option value="1">1-5 years</option>
								<option value="2">6-8 years</option>
								<option value="3">9-12 years</option>
								<option value="3">13-15 years</option>
								<option value="3">16-18 years</option>
								<option value="3">19-22 years</option>
								<option value="3">23-25 years</option>
								<option value="3">25-35 years</option>
								<option value="3">35-50 years</option>
								<option value="3">Greater than 50 years</option>
							</select>  		
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label>Face Color:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<select class="form-control" id="Clothes">
								<option value="0" selected="0">----</option>
								<option value="1">Brown</option>
								<option value="2">Light Brown</option>
								<option value="3">Dark Brown</option>
								<option value="3">White</option>
								<option value="3">Black</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label>Gender:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<select class="form-control" id="Clothes">
								<option value="0" selected="0">----</option>
								<option value="1">Male</option>
								<option value="2">Female</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<label>Special Person:</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<select class="form-control" id="Clothes">
								<option value="0" selected="0">----</option>
								<option value="1">Yes</option>
								<option value="2">No</option>
							</select>
						</div>
					</div><br>
					<div class="row">
					<center>
						<div class="col-sm-12">
							<span class="icon-input-btn btn-success"><span class="glyphicon glyphicon-search"></span> 
							<input type="submit" class="btn btn-success btn-sm" value="Search"></span>
						</div>
						</center>
					</div>
				</div>
			</div>
		</div>
</div>	
<!-- **************************** End of Search Side Bar *********************************** -->